-# sns認証実装時に使用
-# .signup-wrapper

-#   .signup-header
-#     = link_to root_path do
-#       = image_tag("logo.png", width: "200px")

-#   .signup-main
-#     %section.signup-container
-#       %h2.head-signup
-#         新規会員登録
-#       .signup-group-from
-#         .signup-content
-#           = link_to "#", class: "btn btn-default btn-mail" do
-#             = icon("fas", "envelope", class: "signup-icon icon-mail")
-#             メールアドレスで登録する
-#           %button#google-login.btn-default.btn-sns-google
-#             Googleで登録する
-#             = icon("fab", "google", class: "signup-icon icon-google")
-#           %button#facebook-login.btn-default.btn-sns-facebook
-#             Facebookで登録する
-#             = icon("fab", "facebook-square", class: "signup-icon icon-facebook")
-#           %button#apple-login.btn-default.btn-sns-apple
-#             Appleで登録する
-#             = icon("fab", "apple", class: "signup-icon icon-apple")
-#           .signup-form
-#             %p.signup-form__info-text
-#               登録することで、
-#               %a{href: "#", class: "signup-form__info-text__link"}利用規約
-#               と
-#               %a{href: "#", class: "signup-form__info-text__link"}プライバシーポリシー
-#               に同意したものとみなされます。

-#   .singup-footer
-#     .terms
-#       %ul.terms__list
-#         %li.terms__list__privacy_policy
-#           = link_to "プライバシーポリシー", "#", class: "terms-link"
-#         %li.terms__list__of_use
-#           = link_to "フリマ利用規約", "#", class: "terms-link"
-#         %li.terms__list__law
-#           = link_to "特定商取引に関する表記", "#", class: "terms-link"

-#     = link_to root_path do
-#       = image_tag("point-logo.png", class: "footer-logo")
-#     %P.company-inc
-#       © FURIMA, Inc.