-# 予備ファイル作業終了後削除
-# .Mypage-main
-#   .Mypage-main__contents
-#     %section.Register
-#       %h2.Register__head クレジットカード情報入力
-#       %form.Register__form
-#         .Register__form__content
-#           .Register__form__content__group
-#             %label.Register__form__content__group__label カード番号
-#             %span.Register__form__content__group__necessary 必須
-#             %input.Register__form__content__group__input{"placeholder": "半角数字のみ", "type": "text", maxlength: "16"}
-#           .Register__form__content__group
-#             %label.Register__form__content__group__label 有効期限
-#             %span.Register__form__content__group__necessary 必須
-#             %br
-#             .Register__form__content__group__half
-#               %select.Register__form__content__group__half__select
-#                 %option(value="01") 01
-#                 %option(value="02") 02
-#                 %option(value="03") 03
-#                 %option(value="04") 04
-#                 %option(value="05") 05
-#                 %option(value="06") 06
-#                 %option(value="07") 07
-#                 %option(value="08") 08
-#                 %option(value="09") 09
-#                 %option(value="10") 10
-#                 %option(value="11") 11
-#                 %option(value="12") 12
-#               = icon('fas', 'angle-down')
-#               %span 月
-#             .Register__form__content__group__half
-#               %select.Register__form__content__group__half__select
-#                 %option(value="20") 20
-#                 %option(value="21") 21
-#                 %option(value="22") 22
-#                 %option(value="23") 23
-#                 %option(value="24") 24
-#                 %option(value="25") 25
-#                 %option(value="26") 26
-#                 %option(value="27") 27
-#                 %option(value="28") 28
-#                 %option(value="29") 29
-#                 %option(value="30") 30
-#               = icon('fas', 'angle-down')
-#               %span 年
-#           .Register__form__content__group
-#             %label.Register__form__content__group__label セキュリティコード
-#             %span.Register__form__content__group__necessary 必須
-#             %input.Register__form__content__group__input{"placeholder": "カード背面4桁もしくは3桁の番号"}
-#           %button.Register__form__content__btn 追加する